<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">

  <a href="{{ site.baseurl }}/" style="text-decoration: none; margin-left: 0;">
  <div style="display: table;">
    <div>
      <div style="display: table-row;">
        <div style="display: table-cell; float:left">
          <span style=
          "font-family: Orbitron; color:yellow; font-size: 2em; text-align: center; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">
          LIBERALE</span> <span style=
          "font-family: Orbitron; color:magenta; font-size: 2em; text-align: center;">
          &#x25FC</span>
        </div>
      </div>
      <div style="display: table-row;">
        <div style="display: table-cell; float:right">
          <span style=
          "font-family: Orbitron; color:magenta; font-size: 2em; text-align: center;">
          &#x25FC</span> <span style=
          "font-family: Orbitron; color:magenta; font-size: 2em; text-align: center;">
          &#x25FC</span> <span style=
          "font-family: Orbitron; color:blue; font-size: 2em; text-align: center; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">
          MÄNNER</span>
        </div>
      </div>
    </div>
  </div>
  </a>        
        
        <ul class="visible-links">
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
            {% else %}
              {% assign domain = site.url | append: site.baseurl %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <button><div class="navicon"></div></button>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
