<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">

				<!-- Logo -->
				<div style="display:table;margin:auto;color:#e84188;fill:#e84188;">
					<div style="display:table-row;">
						<div style="display:table-cell;vertical-align: middle,">
							<a href="{{ site.baseurl }}">
								<img src="http://res.cloudinary.com/liberalemaenner/image/upload/fl_any_format.sanitize,q_auto:best/v1505761249/liberale-maenner-%C3%B6sterreich-logo-klein-web_upqfdh.svg" style="height:5em;">
							</a>
						</div>
						<div style="display:table-cell;vertical-align: middle;">
							<a href="{{ site.baseurl }}">
								<span style="font-family:'Orbitron';font-size:2em">&nbsp;</span>
							</a>
						</div>
						<div style="display:table-cell;vertical-align: middle;">
							<a href="{{ site.baseurl }}">
								<span style="font-family:'Orbitron';font-size:2em;font-weight: bold;">Liberale Männer</span>
							</a>
						</div>
					</div>
				</div>
        
        <ul class="visible-links">
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
            {% else %}
              {% assign domain = site.url | append: site.baseurl %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <button><div class="navicon"></div></button>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
